@import url("https://fonts.googleapis.com/css2?family=Brygada+1918:wght@900&family=Roboto:wght@500&display=swap");

body {
  background-color: black;
}
h1,
h2 {
  font-family: "Brygada 1918", serif;
}

#board {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 98vw;
  height: 98vh;
  background-color: green;
  font-family: "Roboto", sans-serif;
}

#boardShadow {
  position: fixed;
  width: 98vw;
  height: 98vh;
  box-shadow: inset 0 0 200px 50px rgb(0, 0, 0);
}

#startMenu {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  margin-left: auto;
  margin-top: 30vh;
  padding: 30px;
  box-shadow: 1px 1px 10px 4px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.822);
  color: aliceblue;
}

#startMenu > h1 {
  margin-bottom: -10px;
}

#startMenu {
  display: flex;
  flex-direction: column;
}

#deckForm,
#nameForm {
  margin: 10px;
}


.menuBtn {
  width: 100%;
  background-color: rgb(0, 209, 0);
  box-shadow: 1px 1px 2px 1px rgba(255, 255, 255, 0.3);
  color: aliceblue;
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-weight: 900;
  font-size: 20px;
  transition: 0.3s;
}
.menuBtn:hover {
  background-color: rgb(0, 252, 0);
}

#rules {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: darkred;
}


#player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

#controls {
  display: flex;
  z-index: 2000;
  justify-content: space-around;
  gap: 20px;
}
#hitButton,
#standButton {
  box-shadow: 1px 1px 2px 1px rgba(255, 255, 255, 0.3);
  color: aliceblue;
  padding: 10px;
  width: 150px;
  border-radius: 10px;
  border: none;
  font-weight: 900;
  font-size: 20px;
  transition: 0.3s;
}
#hitButton {
  background-color: rgb(0, 209, 0);
}
#hitButton:hover {
  background-color: rgb(0, 252, 0);
}
#hitButton:disabled {
  cursor: not-allowed;
  opacity: 0.4;
}
#standButton {
  background-color: darkred;
}
#standButton:hover {
  background-color: rgb(197, 0, 0);
}
#standButton:disabled {
  cursor: not-allowed;
  opacity: 0.4;
}

.cardHolder {
  margin: 20px;
  padding: 10px;
  width: 125px;
  height: 175px;
  border: 10px solid yellow;
  border-radius: 3%;
}

.handValue {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 30px;
  background-color: rgba(0, 0, 0, 0.418);
  color: aliceblue;
  margin-top: 100px;
  padding: 0px 10px 0px 10px;
  z-index: 1000;
  border-radius: 10px;
  line-height: 15px;
  font-family: "Brygada 1918", serif;
}

.card {
  display: flex;
  width: 125px;
  height: 175px;
  border-radius: 3%;
  border: 1px solid rgb(36, 36, 36);
  background-color: rgb(233, 233, 233);
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  position: absolute;
  font-family: "Brygada 1918", serif;
}

.card:hover {
  transform: translate(0, -50px);
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.3);
  z-index: 200;
}

.cardText {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  align-content: flex-start;
}
.cardText h3 {
  width: 25px;
  margin-left: 3px;
  margin-top: 3px;
  font-size: 40px;
  line-height: 30px;
  text-align: center;
}
.red {
  color: darkred;
}
.cardSuit {
  text-align: center;
  align-self: center;
  font-size: 110px;
}
